{% extends "base.html" %}
{% block content %}
  {% for day in days %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ day.date }}</a>
          <small class="text-muted">{{ day.day }}</small>
        </div>
        <h2>
          <a class="article-title" href="#">{{ teacher.name }}</a>
        </h2>
        <p class="article-content">{{ day.dept }}</p>
        <a class="btn btn-success btn-lg btn-block"
           href="{% url 'teacher-session-create' teacher.pk day.date 'allday' %}">All Day</a>
        <a class="btn btn-success btn-lg btn-block"
           href="{% url 'teacher-session-create' teacher.pk day.date 'allam' %}">All AM</a>
        <a class="btn btn-success btn-lg btn-block"
           href="{% url 'teacher-session-create' teacher.pk day.date 'allpm' %}">All PM</a>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
