{% load has_group %}
<div class="content-section">
  {% if user == profile.user %}
    <h2>My Profile</h2>
  {% else %}
    <h2>Their profile</h2>
  {% endif %}
  <div class="media">
      <img class="rounded-circle account-img"
           src="{{ profile.avatar_url }}"
           alt="{{ profile.name }}"
           width="125px"
           height="125px"/>
    <div class="media-body">
      <h2 class="account-heading">{{ profile.name }}</h2>
      <p class="text-secondary">
        {% if profile.user.is_superuser %}Admin{% endif %}
        {% if profile.user|has_group:"teacher" %}
          Teacher
        {% else %}
          Student
        {% endif %}
      </p>
      <p class="text-secondary">{{ profile.user.email }}</p>
      {% if user == profile.user %}
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
        <a class="btn btn-primary"
           href="{% url 'account_email' %}"
           role="button">Edit Email</a>
      {% else %}
        <p>It's not you, It's them</p>
      {% endif %}
    </div>
  </div>
</div>
